<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Voting site</title>
    <script type="application/javascript/text" src="../scripts/contracLogic.js" charset="UTF-8"></script>

</head>
<body>
<div>
    <h3>
        Aby zagłosować należy:
        <ol>
            <li>Zainstalowac dodatek MetaMusk w przegladarce</li>
            <li>Zalogowac sie i ustawić sieć na 'Ropsten Test Network'</li>
            <li>Co najminej raz doładować środki</li>
        </ol>

    </h3>
</div>
<div>
    <h2>Kandydaci:</h2>
    <label>
        <input id="k1"  type="radio" name="k" value="1" checked> Kandydat 1
    </label>
    <label>
        <input id="k2"  type="radio" name="k" value="2"> Kandydat 2
    </label>
    <label>
        <input id="k3"  type="radio" name="k" value="3"> Kandydat 3
    </label>
    <label>
        <input id="k4"  type="radio" name="k" value="4"> Kandydat 4
    </label>
    <label>
        <input id="k5"  type="radio" name="k" value="5"> Kandydat 5
    </label>

</div>
<input id="voteButton" type="button" value="Glosuje!">
</body>
</html>